# bestimmte Dateien (in bestimmten Verzeichnissen)
.gitignore
tsconfig-base.json
src/ext/images/Electron.pdn

# bestimmte Dateien (global)
**/tsconfig.json
**/tsconfig.tsbuildinfo
**/tslint.json

# bestimmte Verzeichnisse (incl. Unterverzeichnisse)
.github/**
.vscode/**
dist/html/**
dist/dev/**
src/**

# Dateien mit bestimmten Endungen (global)
**/*.map
**/*.ts
**/*.zip
**/*.vsix
