.gitignore

CODE_OF_CONDUCT.md
CONTRIBUTING.md
develop-diary.md
Tools.md
vsc-extension-quickstart.md
images/Red_Silhouette_-_Electron.svg.pdn

**/*.map
**/*.ts
**/tsconfig.json
**/tslint.json

.github/**
.vscode/**
.vscode-test/**
out/test/**
src/**
