
.gitignore
.vscodeignore

tsconfig-base.json

src/ext/images/Electron.pdn

**/*.map
**/*.ts
**/*.zip
**/*.vsix

**/tsconfig.json
**/tsconfig.tsbuildinfo
**/tslint.json

.github/**
.vscode/**

out/html/**
out/dev/**
out/test/**
src/**
